@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
}

header {
  background-color: #FFE600;
  display: flex;
  padding: 10px 150px;
}

header > #buscar {
  display: flex;
  justify-content: flex-start;
  flex-grow: 1;
  margin: 3px 0;
  margin-left: 50px;
}

header > #buscar input {
  width: 600px;
  border: none;
  border-radius: 2px;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
  padding: 12px 15px;
  font-size: .9em;
  font-weight: 100;
  color: #505050;
}

.ml img {
  width: 150px;
}

.meli img {
  width: 350px;
}