@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
}

menu {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #C5E3FE;
  border-bottom: 1px solid black;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.container {
  width: 1145px;
  margin: auto;
  padding: 1.4rem 0;
}

#menu {
  list-style-type: none;
  float: right;
  width: 475px;
}

#menu li a {
  float: left;
  text-decoration: none;
  color: black;
  padding: 0.5rem 1em;
  font-size: .9em;
}

#menu li a:hover {
  color: #4C799F;
}

#menu li.destaque a {
  background-color: black;
  color: white;
  border-radius: 1.2rem;
}

#menu li.destaque a:hover {
  color: #C5E3FE;
}

/* ======================= FUNDO TOPO ======================= */


header {
  background-color: #C5E3FE;
  border-bottom: 1px solid black;
  margin-top: 4.7rem;  /*75px*/
  font-family: Georgia, 'Times New Roman', Times, serif;
}

#texto {
  width: 50%;
}

#texto button {
  margin-top: 1.5rem;
  border-radius: 1.5rem;
  border: 1px solid black;
  padding: 0.8rem 1.5rem;
  font-size: 1rem;
  font-family: Arial, Helvetica, sans-serif;
  background-color: white;
}

.fundo-imagem {
  background: url('../imgs/fundo-topo.png') no-repeat right bottom;
  background-size: 22rem;
}

/*****************************************************
Tipografia
*/

h1 {
  font-size: 4rem;
  font-weight: 100;
  letter-spacing: -0.1rem;
}

/****************************
3. ÁREA DE CONTEÚDOS
*/

main {
  font-family: Georgia, 'Times New Roman', Times, serif;
}

h2 {
  font-size: 0.8rem;
  text-transform: uppercase;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~  IMPORTANTE  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
.titulo-tendencia {
  background: url("../imgs/icone-tendencia.png") no-repeat left center / contain;
  padding: 0.2rem 0 0.2rem 2rem;
}

#tendencias {
  padding-top: 0.8rem;
}

#tendencias::after {
  content: '';
  display: table;
  clear: both;
}

.item-tendencia {
  position: relative;
  width: 26%;
  padding-left: 7%;
  margin-bottom: 2rem;
  float: left;
}

.numero {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 3rem;
  font-weight: bold;
  color: lightgray;
}

h3, h4 {
  margin: 0.2rem;
}

h4 {
  font-weight: 100;
}

.icone {
  padding-left: 1.5rem;
}

.imagem1 {
  background: url("../imgs/icone1.png") no-repeat left center / contain;
}

.imagem2 {
  background: url("../imgs/icone2.png") no-repeat left center / contain;
}

.imagem3 {
  background: url("../imgs/icone3.png") no-repeat left center / contain;
}

.imagem4 {
  background: url("../imgs/icone4.png") no-repeat left center / contain;
}

.imagem5 {
  background: url("../imgs/icone5.png") no-repeat left center / contain;
}

.imagem6 {
  background: url("../imgs/icone6.png") no-repeat left center / contain;
}

/*********************************************************************
4. RODAPÉ
*/

footer {
  border-top: 1px solid black;
  font: normal bold .9em Georgia, 'Times New Roman', Times, serif;
  padding: 1em 0;
  background-color: #C5E3FE;
}